name: Remove approvals when PR diff changes

on:
  pull_request:
    types: [ opened, edited, synchronize ]
  issue_comment:
    types: [ created, edited ]

jobs:
  waitaminute:
    name: Remove approvals when PR diff changes
    runs-on: ubuntu-latest
    steps:
      - uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          debug-allow-approval: true
