name: Remove approvals when PR diff changes

on:
  pull_request:
    types: [ opened, edited, synchronize ]
  issue_comment:
    types: [ created, edited ]

jobs:
  waitaminute:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
